@mixin super($sbg, $scolor, $ssize, $sweight, $srad, $spadding: 11px) {
    background-color: $sbg;
    color: $scolor;
    font-size: $ssize;
    font-weight: $sweight;
    border-radius: $srad;
    padding: $spadding;
}

@mixin before() {
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 0;

    border: {
        right: 14px solid transparent;
        bottom: 14px solid #182533;
        left: 14px solid transparent;
        top: 14px solid transparent;
    }
}